h4,p,a, .panel-body{
       font-family: 'Bubblegum Sans';
    }
    h1,h2{
       font-family: 'Press Start 2P';
    }

    .row.content {height: 1500px}

    .gi-5x{font-size: 5em;}   

    .gi-3x{font-size: 3em;} 

    .gi-2x{font-size: 2em;} 

    .gi-1x{font-size: 1em;} 

    .icon{
        height: 330px;
        width:  330px;
    }

    .controllerPic{
    
         position: absolute;
         top: 15%;
         left: 75%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
    }

    .borderStyle{
        border: 5px solid black;
        background-color: plum;
        border-radius: 10px;
        font-weight: bold;
        color: black;
        box-shadow: 10px 10px black;
        width: 715px;
        text-align: center;
       
    }

    .h1Location{
        position: absolute;
        top: 13%;
        left: 51%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 12;

    }

    .h1Style{
        text-align: center;
        width: 500px;
        color: crimson;
        text-shadow: 4px 4px black;

    }

    .imgStyle{
        width: 250px;
        height: 250px;
        
    }
    .figureLocation1{
        position: absolute;
        top: 36%;
        left: 77%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        
    }
    .figureLocation2{
        position: absolute;
        top: 50%;
        left: 20%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        
    }
    .figureLocation3{
        position: absolute;
        top: 65%;
        left: 73%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

    }
    .figureLocation4{
        position: absolute;
        top: 78%;
        left: 23%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        
    }


    .panelLocation1{
         position: absolute;
         top: 35%;
         left: 40%;
         margin-right: -50%;
         transform: translate(-50%, -50%);

    }

    .panelLocation2{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

    }
    .panelLocation3{
        position: absolute;
         top: 65%;
         left: 40%;
         margin-right: -50%;
         transform: translate(-50%, -50%);

    }
    .panelLocation4{
        position: absolute;
         top: 80%;
         left: 55%;
         margin-right: -50%;
         transform: translate(-50%, -50%);

    }
   
    
    .sidenav {
      background-color: lightcoral;
      height: 100%;
    }
    
    .textColor{
       color: black;
    }

    .main{
        background-color: white;
        background-image: url(https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/98/88/1728898/thumbnail?1543120384);
        height: 100%;
        
       
    }
    .icon{
        height: 330px;
        width:  330px;
    }

  .alertLocation{
    box-shadow: 10px 10px black;
    font-weight: bold;;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

  }

  .forwardButton{
     position: absolute;
     top: 97%;
     left: 90%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
  }

  .backButton{
     position: absolute;
     top: 97%;
     left: 10%;
     margin-right: -50%;
     transform: translate(-50%, -50%);

  }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    
    @media all and (max-width: 60%) and (min-width: 30%) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 

      .main{
           height: auto;
           width: auto;

      }

      img{
           position: relative;
           height: auto;
           width: auto;
           
        
      }


    }