    h1{ font-family: 'Bungee';}

    h4,
    p,
    a {
      font-family: 'Bubblegum Sans';
    }

    .row.content {
      height: 1500px
    }

    .gi-20x{
      font-size: 20em;
    }

    .gi-15x{
      font-size: 15em;
    }
    .gi-6x {
      font-size: 6em;
    }

    .gi-5x {
      font-size: 5em;
    }

    .gi-4x {
      font-size: 4em;
    }
    .gi-3x {
      font-size: 3em;
    }

    .gi-2-5x{
      font-size: 2.5em;
    }

    .gi-2x {
      font-size: 2em;
    }

    .gi-1-8x{
      font-size: 1.8em;
    }

    .gi-1-3x{
      font-size: 1.3em;
    }

    .gi-1x {
      font-size: 1em;
    }

    

    .sidenav {

      background-color: lightcoral;
      overflow-x: scroll;
      height: 100%;
      position: fixed;
      z-index: 2;
      top: 0; 
      left: 0;
    }

  .underline{
    text-decoration: underline;

  }

  .pStyle{
      word-wrap: break-word;
      width: 600px;
      
  }

  .pStyle2{
      word-wrap: break-word;
      width: 840px;
      
  }

  .listStyle{
      word-wrap: break-word;
      width: 800px;
      
  }

  .square{
    height: 550px;
    width: 900px;
    background-color: palevioletred;

  }



  .textShadow{
    text-shadow: 1px 1px black;

  }

  .textStyle1{
     color: darkgoldenrod;
     
  }

  .textStyle2{
     color: darkorchid;
     
  }

  .textStyle3{
     color: darkslateblue;
     
  }

  

  .backgroundImg{
    height: 50vh;
    min-height: 40px;
    background-color: pink;

  }


  .img1Style{

      width: 370px;
      height: 370px;
      border: 15px double darkcyan;

    }

  .img2Style{

      width: 500px;
      height: 500px;

    }

    .img3Style{

      width: 300px;
      height: 300px;
    }

    .img4Style{

      width: 350px;
      height: 350px;
    }


    .icon{
        height: 330px;
        width:  330px;
    }


    .main {
      background-color: whitesmoke;
  
      height: 100%;
      width: 100%;
      

    }

    
    
    .h1Style{
      z-index: 1;
      color: whitesmoke;
      text-shadow: 4px 4px black;

    }


    .icon {
      height: 330px;
      width: 330px;
    }

    .forwardButton {
      position: absolute;
      top: 97%;
      left: 90%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .backButton {
      position: absolute;
      top: 97%;
      left: 35%;
      margin-right: -50%;
      transform: translate(-50%, -50%);

    }


    body,
    html,
    .container-fluid {
      height: 100%;
      width: 100%;
    }

    .wrapper {
      min-height: 800vh;
      max-height: 808%;
    }

    main {
    
      overflow-y: auto;
    }

    @media all and (max-width: 60%) and (min-width: 30%) {
      .sidenav{
        min-width:720px;
        
      }

      .main {
        height: auto;
        width: auto;
        overflow-y: auto;

      }
    
  }